/* Common */
.col-4 {
    width: 33.66% !important;
}

.col-8 {
    width: 66.67% !important;
}

.resume-wrapper {
    min-height: 100% !important;
}

.list-unstyled {
    margin-left: 1rem;
}

.cvo-block-content ul {
    margin-left: 1rem;
    padding-left: 0;
}

.cvo-block-content div.item {
    padding-left: 1rem;
}

.meta:first-child {
    font-weight: bold;
}

.meta:first-child p {
    font-weight: normal;
}

.summary ul li {
    list-style-type: circle !important;
}

/* Left col */
#preview-avatar {
    border-radius: 50%;
}

.resume-avatar {
    display: flex !important;
    justify-content: center !important;
}

.cv-left-col {
    background-color: #f6ede6;
}

.cvo-section-heading {
    font-weight: bolder;
    padding-top: 2rem;
}

.list-unstyled {
    list-style-type: circle !important;
}

.list-unstyled li::marker {
    color: black !important;
}

.list-unstyled span {
    display: none;
}

.skill-item strong {
    font-weight: normal !important;
}

.progress {
    display: none;
}

.exp-container span svg {
    display: none;
}

.icon {
    margin-top: 15px;
}

.icon-border {
    border: 2px solid black;
    border-radius: 50%;
    padding: 4px;
}

.cvo-heading-left {
    font-size: 20px;
    font-weight: bolder;
    padding-bottom: 0.5rem;
}

.dropdown-divider {
    padding: 0.5rem;
}

#references-container li {
    list-style: none !important;
}

#references-block div.item {
    padding-left: 0 !important;
}

#references-block div.item ul {
    margin-left: 0 !important;
}

/* Right col */
#career-goal-content {
    font-size: 16px !important;
    font-weight: normal !important;
    text-transform: none !important;
    line-height: 1.4em;
}

.name {
    font-size: 60px !important;
    font-weight: bolder !important;
}

.work-section h2 {
    font-size: 20px !important;
    font-weight: bolder !important;
    padding-bottom: 0.5rem;
}

.cvo-section-heading {
    font-size: 20px !important;
    font-weight: bolder !important;
    padding-bottom: 0.5rem;
}

/* Footer */
#theme-footer {
    padding: 0 !important;
    margin: 0 !important;
}

#theme-footer:first-child {
    padding: 0 !important;
    margin: 0 !important;
}
