@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto-Regular.ttf');
    font-weight: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto-Bold.ttf');
    font-weight: bold;
}
.cvo-document .cvo-page {
    padding: 0mm;
    position: relative;
}
.cvo-document .cvo-subpage {
    padding: 0mm;
}
#cvo-body {
    padding: 10mm 6mm;
    line-height: 1.4em;
    color: #666;
}

#cvo-body:after {
    display: block;
    content: " ";
    clear: both;
    height: 0;
    width: 0;
}
.cvo-col-6 {
    float: left;
    width: 50%;
}
#group-bottom-left .cvo-block:last-child,
#group-right .cvo-block:last-child {
    margin-bottom: 0;
}
#cvo-profile-avatar-wraper {
    display: block;
    height: 200px;
    width: 200px;
}
#cvo-profile-fullname {
    font-size: 40px;
    line-height: 1em;
    font-weight: 400;
    text-transform: capitalize;
}
#cvo-profile-title {
    font-size: 24px;
    text-transform: capitalize;
}
#cvo-profile-wraper {
    margin-bottom: 25px;
}
#cvo-profile .contact-item {
    margin-top: 6px;
    position: relative;
    padding-left: 17px;
    line-height: 21px;
}
#cvo-profile .contact-item .fa {
    color: #666;
    margin-right: 8px;
    width: 10px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}
.cvo-block {
    margin-bottom: 25px;
    padding: 5px 10px 10px 10px;
}
.cvo-block-header {
    position: relative;
    margin-bottom: 5px;
}
.cvo-block-header span {
    position: relative;
    z-index: 1000;
    background-color: #fff;
    padding-right: 15px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
}
.cvo-block-header:after {
    display: block;
    content: " ";
    height: 2px;
    width: 100%;
    background-color: #ccc;
    position: absolute;
    z-index: 0;
    top: 50%;
    margin-top: -2px;
}
.cvo-block-body {
    word-break: break-word;
}
.cvo-education-school,
.cvo-experience-company,
.cvo-activity-organization {
    font-weight: 500;
    color: #555;
    font-size: 16px;
}
.cvo-experience-position,
.cvo-education-title,
.cvo-activity-position {
    font-weight: 500;
}
.cvo-skillrate-bar {
    background-color: #eee;
    width: 100%;
    height: 6px;
    position: relative;
    margin-top: 3px;
}
.cvo-skillrate-value {
    width: 80%;
    height: 6px;
    position: absolute;
    top: 0px;
    left: 0;
    background-color: #666;
}
.cvo-skillrate-bar[bval="1"] .cvo-skillrate-value {
    width: 20%;
}
.cvo-skillrate-bar[bval="2"] .cvo-skillrate-value {
    width: 40%;
}
.cvo-skillrate-bar[bval="3"] .cvo-skillrate-value {
    width: 60%;
}
.cvo-skillrate-bar[bval="4"] .cvo-skillrate-value {
    width: 80%;
}
.cvo-skillrate-bar[bval="5"] .cvo-skillrate-value {
    width: 100%;
}
#interest-table .row {
    width: 50%;
    float: left;
    margin-bottom: 5px;
}
#cvo-education .row,
#cvo-activity .row,
#cvo-experience .row {
    margin-bottom: 15px;
}
#cvo-certification .row,
#cvo-award .row,
#cvo-skillrate .row,
#cvo-reference .row{
    margin-bottom: 10px;
}
#cvo-education .row:last-child,
#cvo-activity .row:last-child,
#cvo-experience .row:last-child,
#cvo-certification .row:last-child,
#cvo-award .row:last-child,
#cvo-skillrate .row:last-child,
#cvo-reference .row:last-child {
    margin-bottom: 0;
}
#cvo-profile-phone,
#cvo-profile-email {
    min-width: 120px;
}
#cv-watermark {
    position: absolute;
    right: 9mm;
    bottom: 5mm;
    font-size: 13px;
    color: #555;
}
@media print {
    #cvo-body {
        padding: 0;
    }
    .cvo-document .cvo-page {
        position: inherit;
    }
    #cv-watermark {
        right: 3mm;
        bottom: 0mm;
    }
    #cvo-main {
        padding-bottom: 5mm;
    }
}