.page-title, .entry-title,
body #primary span,
body {
    font-family: Arial, Helvetica, sans-serif !important;
}

.site-header {
    background: #1772bd;
    position: sticky;
    top: 40px;
    z-index: 9999;
}

.hidden-xs {
    display: block !important;
}
.visible-xs {
    display: none !important;
}

@media (max-width: 767px) {
    .hidden-xs {
        display: none !important;
    }
    .visible-xs {
        display: block !important;
    }
}

.breadcrumbs {
    margin-bottom: 10px;
    margin-top: 0;padding-top: 0;}
.entry-meta {
    margin-bottom: 15px;
}
div.wpforms-container-full input,
div.wpforms-container-full select,
div.wpforms-container-full button{
    border-radius: 10px !important;
}
div.wpforms-container-full {
    margin: 24px auto;
    background: #4CAF50;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
}

.post .meta-author img{
    /* float: left; */
    margin-right: 4px;
    border-radius: 100%;
    top: 3px;
    display: inline-block;
    position: relative;
}
.widget-title, .is-style-widget-title,
.page-header .archive-title {
    border-bottom: 3px solid #1772bd;
    padding-bottom: 5px;
    margin-bottom: -1px;}

.widget-header {

    border-bottom: 1px solid #ccc;
}

.rotatingBannerWidget .widget-header,
#infinite-footer {
    display: none !important;
}

:root {
    --primary-color: #1772bd;
    --secondary-color: #0084b7;
    --tertiary-color: #005e91;
    --accent-color: #dd2e22;
    --highlight-color: #00b734;
    --light-gray-color: #eeeeee;
    --gray-color: #777777;
    --dark-gray-color: #404040;
    --text-color: #404040;
    --medium-text-color: #777;
    --light-text-color: #aaa;
    --light-background-color: #eee;
    --dark-border-color: #404040;
    --medium-border-color: #ccc;
    --light-border-color: #ddd;
    --link-color: #1772bd;
    --link-hover-color: #404040;
    --button-color: #1772bd;
    --button-text-color: #fff;
    --button-hover-color: #404040;
    --button-hover-text-color: #fff;
    --page-background-color: #fff;
    --page-border-color: rgba(0, 0, 0, 0.12);
    --header-background-color: #fff;
    --site-title-color: #404040;
    --site-title-hover-color: #1772bd;
    --navi-color: #404040;
    --navi-hover-color: #1772bd;
    --navi-border-color: #ccc;
    --title-color: #404040;
    --title-hover-color: #1772bd;
    --widget-title-color: #404040;
    --widget-title-hover-color: #1772bd;
    --widget-title-border-color: #eee;
    --footer-background-color: #fff;
    --footer-text-color: #404040;
    --text-font: "Ubuntu", arial, helvetica, sans-serif;
    --title-font: "Raleway", arial, helvetica, sans-serif;
    --navi-font: "Raleway", arial, helvetica, sans-serif;
    --widget-title-font: "Raleway", arial, helvetica, sans-serif;
    --title-font-weight: bold;
    --navi-font-weight: bold;
    --widget-title-font-weight: bold;
    --title-text-transform: none;
    --navi-text-transform: uppercase;
    --widget-title-text-transform: uppercase;
    --text-line-height: 1.5;
    --title-line-height: 1.5;
}

.main-navigation ul ul li a {
    text-transform: capitalize;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main-navigation ul ul {
    border-top: 1px solid;
}

#primary-menu > li > a {
    color: #fff !important;
    text-transform: capitalize;
    padding: 0.5em 1.2em;
    border: 0;
}

.main-navigation .menu-item-has-children > a > .icon,
.main-navigation ul .menu-item-has-children > a:hover > .icon {
    fill: #fff !important;
}

#primary-menu > li:hover > a,
#primary-menu > li > a:hover {
    color: #a9e6ff !important;
}

.post-layout-small .post-wrapper .type-post .entry-title, .post-layout-small .infinite-wrap .type-post .entry-title {
    line-height: 1.3;
}
.widget .links {
    box-shadow: 0 0 10px #ccc;
    padding: 15px;
    list-style: none;
    border-radius: 15px;
}
.widget .links i{
    color: #1772bd;
    width: 20px;
}
.widget .links li{
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}
.widget .links li:last-child{padding:0;margin:0;border:0}
.widget .links a{color:#000;font-size: 15px;}
.widget .links a:hover{
    color: #ff5c35
}
.widget li {
    margin-bottom: 15px;
}

.page-title, .entry-title {
    line-height: 1.2;
}

.site-branding {
    margin: 0;
}

.site-branding img {
    outline: 0 !important;
}

.site-branding .custom-logo {
    width: 110px;
    margin: 0 !important;
    outline: 0 !important;
    max-height: 40px !important;
    padding: 2px;
}

.site-content {
    padding-top: 2em;
}

.widget_recent_entries li {
    margin-left: 10px;
}

.widget ul.main-list {
    padding: 0;
}

.widget ul {
    list-style: circle;
    /* padding-left: 15px; */
    /* list-style-position: inside; */
    overflow: hidden; /* padding: 0; */
}

.main-list li:first-child {
    border-top: 0;
}

.widget-magazine-posts .type-post {
    margin-bottom: 25px;
}

.poseidon-magazine-vertical-box-widget .type-post {
    margin-bottom: 19px;
}

.poseidon-magazine-vertical-box-widget .type-post:last-child {
    margin-bottom: 0;
}

.widget-magazine-posts .magazine-vertical-box .large-post {
    padding-right: 0;
    border-right: 10px solid #fff;
}

.widget-magazine-posts .type-post .entry-content p {
    margin-top: 0;
}

.entry-meta {
    margin: 0.4em 0;
}

.widget-magazine-posts .large-post .entry-title {
    font-size: 1.2rem;
}

.widget-magazine-posts .magazine-vertical-box .large-post .entry-header,
.widget-magazine-posts .magazine-vertical-box .large-post .entry-content {
    padding-left: 10px;
    padding-right: 10px;
}

.widget-magazine-posts .magazine-vertical-box .large-post .entry-content {
    padding-bottom: 10px;
}

.widget-magazine-posts .magazine-vertical-box .large-post {
    background: #eee;
}

.ap-widget-pos > * {
    padding-top: 5px;
}

.main-list li:last-child p {
    margin-bottom: 0;
    margin-top: 0;
}

.main-list li {
    width: 100%;
    /* min-height: 163px; */
    display: table;
    padding: 0;
    margin: 0;
    border-top: 1px solid #ddd;
    padding-top: 5px;
    padding-bottom: 5px;
}

.main-list li a.pull-left {
    border: 0;
    display: inline-block;
    float: none;
    width: 30%;
    float: left;
    padding-right: 10px;
    padding-top: 0;
}

.main-list li .media-body {
    display: inline-block;
    width: 70%;
    margin: 0;
    padding: 0;
    position: relative;
    top: 6px;
    float: left;
    overflow: hidden;
}

.main-list li .media-body a {
    display: block;
    float: left;
}

.main-list li .media-body p {
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 5px;
    width: 100%;
}

.main-list li .media-body i {
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-list li .media-body h5 {
    font-size: 16px;
    color: #309bda !important;
    text-transform: capitalize !important;
    line-height: 1.3;
    margin: 0;
}

.widget {
    margin: 0 0 2em 0;
}

.main-list li:last-child {
    padding-bottom: 0;
}

.widget-magazine-posts .small-post .entry-title {
    font-size: 0.9rem;
}

.admin-bar {
    z-index: 999999 !important;
}

.post-layout-small .post-wrapper .type-post .entry-excerpt p {
    margin-top: 2px;
}

.post-layout-small .post-wrapper .type-post .entry-title, .post-layout-small .infinite-wrap .type-post .entry-title {
    font-size: 1.2rem;
}

.primary-menu-toggle {
    margin-top: 0;
    margin-bottom: 0;
}

.primary-menu-toggle .icon,
.main-navigation .dropdown-toggle .icon {
    fill: #fff !important;
}


.primary-menu-toggle .icon {
    color: #fff !important;
}

p {
    margin-top: 1em;
    margin-bottom: 1em;
}

.single .entry-meta {
    margin: 15px 0;
}

.main-navigation ul ul {
    z-index: 99999 !important;
}

.post-content .entry-header {
    line-height: 1.2;
}

.poseidon-magazine-vertical-box-widget .small-post .entry-title {
    font-size: .9rem;
}

.widget-magazine-posts .type-post .wp-post-image {
    max-height: 230px;
}

.widget-magazine-posts .magazine-vertical-box .large-post .entry-content a {
    display: none;
}
.container {
    max-width: 1180px;
    position: relative;
}
.header-main {
    padding: 0 !important;
}
.site-content {
    padding: 1em;
}

.sticky-header .site-header {
    z-index: 999999 !important;
}
ul #menu-item-30254 a{
    /* color: #d7ffb9 !important; */
}
.poseidon-magazine-grid-widget .type-post .wp-post-image,
.magazine-grid-three-columns .type-post .wp-post-image {
    max-height: 150px;
}

.poseidon-magazine-horizontal-box-widget .magazine-horizontal-box .medium-posts .wp-post-image {
    max-height: 130px;
}

.custom-b-cycle-controls.custom-banners-controls-theme-standard .custom-b-cycle-prev,
.custom-b-cycle-controls.custom-banners-controls-theme-standard .custom-b-cycle-next {
    z-index: 999;
}
h1.entry-title{
    font-size: 30px;
}
#footer .container{
    /* padding: 0; */
}
.wp-caption img[class*="wp-image-"] {
    margin: 15px auto;
}
#wpadminbar{
    z-index: 9999999 !important;
}
.relpost-thumb-wrapper{
    margin-bottom: 20px;
}
#related_posts_thumbnails a{
    text-decoration: initial !important;
}
.content-area h1,
.content-area h2,
.content-area h3,
.content-area h4,
.content-area h5,
.content-area h6{
    line-height: 1.2;
}
.crp_title {
    display: block;
    margin: 10px 5px;
    color: #1772bd;
    font-weight: bold;
    text-align: left;}
.site-footer .site-info {
    float: left;
    padding: 20px 0 0;
}
.main-navigation .dropdown-toggle {
    padding: .2em .9em;
}
.primary-menu-toggle {
    padding: 5px 10px;
    border: 0;
    outline: 0 !important;
}
.type-post, .type-page, .type-attachment {
    margin: 0 0 1em 0;
    max-width: 100%;
    border-bottom: 1px solid #cccc;}

.type-post:last-child, .type-page:last-child{
    border: 0;
}

.admin-bar .header-top{
    top: 32px;
}
.admin-bar .site-header{
    top: 72px;
}

.header-top{
    /* display: none; */
    background: #046096;
    border-bottom: 1px solid #cfcfcf;
    position: sticky;
    top: 0;
    z-index: 9999;
}
.header-top .footer-social{
    position: absolute;
    left: 0;
}
.header-top ul{
    list-style: none;
    text-align: right;
    margin: 0 -15px 0 -25px;
}
.header-top ul li {
    display: inline-block;
}
.header-top ul li a{
    padding: 0 0 0 10px;
    line-height: 40px;
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
}
.header-top ul li a.highlight:hover{
    opacity: .9;
}
.header-top ul li a.highlight{
    background-color: #ff5c35;
    padding: 4px 20px;
    border-radius: 3px;
    line-height: 22px;
    margin-left: 20px;
    /* margin-right: 20px; */
}
.header-top ul li a span{
    margin-right: 10px;
    opacity: .8;
    color: #fff;
    display: none;
}
@media only screen and (min-width: 1300px) {
    .main-navigation ul ul li a {
        width: 11rem;
    }
    .header-top{
        display: block;
    }
    #custom_html-2 {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }
    .sidebar {
        /* position: sticky; */
        /* top: 135px; */
    }
    .post-layout-small .post-wrapper .type-post .wp-post-image, .post-layout-small .infinite-wrap .type-post .wp-post-image {
        min-height: 200px;
    }
}

@media all and (max-width: 500px) {
    .header-top ul li a.highlight{
        margin-left: 10px;
        position: absolute;
        top: 5px;
        right: 10px;
    }
    .header-top ul li a{
        font-size: 10px;
        padding-left: 5px;
        padding-right: 0;
    }
    .main-navigation ul a, .main-navigation ul a:link, .main-navigation ul a:visited {
        color: #fff !important;
    }
    .widget-magazine-posts .magazine-vertical-box .large-post .entry-header{
        padding-top: 0;
    }
    .widget-magazine-posts .large-post .entry-title {
        font-size: 1.1rem;
    }
    .widget-magazine-posts .magazine-horizontal-box .medium-posts {
        margin-right: 0;
    }
    .site-footer .site-info {
        float: left;
        text-align: left;
        padding: 20px 15px 0;
    }
    .header-top ul li a span{
        margin-right: 5px;
    }
    .header-top .footer-social{
        left: 10px;
        right: initial;
        display: none;
    }
    .header-top ul{
        padding-right: 10px;
        margin: 0 -15px;
        float: left;
        margin-left: -30px;
    }

}
.footer {
    background: #026aa7;
    padding: 1.5em 0 0 0;
    color: #fff;
}
.lg-menu {
    border-bottom: 1px solid #afafaf;
    padding: 1em 0 1.5em 0;
    margin: 0;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container:after, .container:before,
.row:after, .row:before {
    display: table;
    content: " ";
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}
@media only screen and (min-width: 1024px)
{
    .admin-bar .toc-fixed{
        top: 102px;
    }
    .toc-fixed{
        position: sticky;
        right: 0;
        top: 70px;
        width: 400px !important;
        overflow: auto;
        z-index: 9;
        float: right;
        margin-right: -420px !important;
        max-height: calc(100vh - 100px);
        overflow: auto;
        display: block !important;
    }
    #footer{
        z-index: 999;
        position: relative;
    }
    #toc_container.toc-fixed .toc_list a{
        line-height: 1.2;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        max-width: 100%;
        margin-bottom: 5px;
    }
    .contracted.toc-fixed{
        top: 300px;
    }
    .footer .row .col-sm-3 {
        width: 22%;
    }

    .col-md-9 {
        width: 78%;
    }
}
#toc_container .toc_list a{
    line-height: 1.2;
    font-size: 16px;
    /* white-space: nowrap; */
    /* overflow: hidden; */
    text-overflow: ellipsis;
    display: block;
    /* max-width: calc(100% - 30px); */
    margin-bottom: 5px;
}
.pull-right {
    float: right!important;
}
.lg-menu ul {
    margin: 0;
    padding: 0;
    float: right;
}
.lg-menu ul li {
    display: inline-block;
    list-style: none;
    padding-left: 15px;
}
.lg-menu ul li a {
    text-transform: uppercase;
    color: #fff;
    font-size: 11px;
}
.widget_recent_entries li {
    margin-left: 10px;
}

@media only screen and (min-width: 1024px){
    .footer .row .col-md-4:nth-child(1) {
        width: 30%;
    }
    .footer .row .col-md-2:nth-child(2) {
        width: 15%;
    }
}

@media (min-width: 1200px)
{
    .container {
        width: 1240px;
    }
}
.widget ul.main-list {
    padding: 0;
}
.textwidget a {
    color: #fff;
    text-transform: initial;
}
.footer{
    /* display: none; */
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.row-no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.row-no-gutters [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}
.col-xs-12 {
    width: 100%;
}
.col-xs-11 {
    width: 91.66666667%;
}
.col-xs-10 {
    width: 83.33333333%;
}
.col-xs-9 {
    width: 75%;
}
.col-xs-8 {
    width: 66.66666667%;
}
.col-xs-7 {
    width: 58.33333333%;
}
.col-xs-6 {
    width: 50%;
}
.col-xs-5 {
    width: 41.66666667%;
}
.col-xs-4 {
    width: 33.33333333%;
}
.col-xs-3 {
    width: 25%;
}
.col-xs-2 {
    width: 16.66666667%;
}
.col-xs-1 {
    width: 8.33333333%;
}
.col-xs-pull-12 {
    right: 100%;
}
.col-xs-pull-11 {
    right: 91.66666667%;
}
.col-xs-pull-10 {
    right: 83.33333333%;
}
.col-xs-pull-9 {
    right: 75%;
}
.col-xs-pull-8 {
    right: 66.66666667%;
}
.col-xs-pull-7 {
    right: 58.33333333%;
}
.col-xs-pull-6 {
    right: 50%;
}
.col-xs-pull-5 {
    right: 41.66666667%;
}
.col-xs-pull-4 {
    right: 33.33333333%;
}
.col-xs-pull-3 {
    right: 25%;
}
.col-xs-pull-2 {
    right: 16.66666667%;
}
.col-xs-pull-1 {
    right: 8.33333333%;
}
.col-xs-pull-0 {
    right: auto;
}
.col-xs-push-12 {
    left: 100%;
}
.col-xs-push-11 {
    left: 91.66666667%;
}
.col-xs-push-10 {
    left: 83.33333333%;
}
.col-xs-push-9 {
    left: 75%;
}
.col-xs-push-8 {
    left: 66.66666667%;
}
.col-xs-push-7 {
    left: 58.33333333%;
}
.col-xs-push-6 {
    left: 50%;
}
.col-xs-push-5 {
    left: 41.66666667%;
}
.col-xs-push-4 {
    left: 33.33333333%;
}
.col-xs-push-3 {
    left: 25%;
}
.col-xs-push-2 {
    left: 16.66666667%;
}
.col-xs-push-1 {
    left: 8.33333333%;
}
.col-xs-push-0 {
    left: auto;
}
.col-xs-offset-12 {
    margin-left: 100%;
}
.col-xs-offset-11 {
    margin-left: 91.66666667%;
}
.col-xs-offset-10 {
    margin-left: 83.33333333%;
}
.col-xs-offset-9 {
    margin-left: 75%;
}
.col-xs-offset-8 {
    margin-left: 66.66666667%;
}
.col-xs-offset-7 {
    margin-left: 58.33333333%;
}
.col-xs-offset-6 {
    margin-left: 50%;
}
.col-xs-offset-5 {
    margin-left: 41.66666667%;
}
.col-xs-offset-4 {
    margin-left: 33.33333333%;
}
.col-xs-offset-3 {
    margin-left: 25%;
}
.col-xs-offset-2 {
    margin-left: 16.66666667%;
}
.col-xs-offset-1 {
    margin-left: 8.33333333%;
}
.col-xs-offset-0 {
    margin-left: 0%;
}
.footer-widget {
    padding: 1.5em 0 2em;
}
.widgettitle.widget-title {
    font-weight: 700;
    text-transform: initial;
    margin-bottom: 5px;
    font-size: 15px;
    color: #fff;
    border: 0;
}
.lg-menu ul, ul.footer-navigation {
    margin: 0;
    padding: 0;
}

ul.footer-navigation li {
    padding: 2px 0;
    line-height: 2.2;
    list-style: none;
}
.textwidget a {
    color: #fff;
    text-transform: initial;
    font-size: 14px;
}
.footer .footer-social li {
    list-style: none;
    display: inline-block;
    padding-right: 7px;
}
.footer .footer-social {
    text-align: left;
    padding: 0;
    margin: 0 0 25px;
}
.footer .footer-social li a i {
    width: 40px;
    height: 40px;
    border-radius: 2px;
    line-height: 40px;
    background: #fff;
    text-align: center;
    color: #5f738a;
    box-shadow: 0 0 10px 0 rgb(53 67 78 / 10%);
}
.copyright {
    background: #046096;
    padding: 20px 0 5px;
}
.copyright p {
    font-size: 13px;
    letter-spacing: .5px;
    text-align: left;
    padding: 0 0 1em;
    display: block;
    float: left;
    text-transform: initial;
}
.footer .copyright p, .footer .textwidget p {
    color: #eee;
    line-height: 1.5;
}
@media only screen and (min-width: 768px){
    .lg-menu ul {
        margin-top: 10px;
    }
}

.textwidget {
    color: #96a4b3;
    opacity: 1;
    font-size: 14px;
}
@media (min-width: 768px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
    }
    .col-sm-12 {
        width: 100%;
    }
    .col-sm-11 {
        width: 91.66666667%;
    }
    .col-sm-10 {
        width: 83.33333333%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-8 {
        width: 66.66666667%;
    }
    .col-sm-7 {
        width: 58.33333333%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-5 {
        width: 41.66666667%;
    }
    .col-sm-4 {
        width: 33.33333333%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-2 {
        width: 16.66666667%;
    }
    .col-sm-1 {
        width: 8.33333333%;
    }
    .col-sm-pull-12 {
        right: 100%;
    }
    .col-sm-pull-11 {
        right: 91.66666667%;
    }
    .col-sm-pull-10 {
        right: 83.33333333%;
    }
    .col-sm-pull-9 {
        right: 75%;
    }
    .col-sm-pull-8 {
        right: 66.66666667%;
    }
    .col-sm-pull-7 {
        right: 58.33333333%;
    }
    .col-sm-pull-6 {
        right: 50%;
    }
    .col-sm-pull-5 {
        right: 41.66666667%;
    }
    .col-sm-pull-4 {
        right: 33.33333333%;
    }
    .col-sm-pull-3 {
        right: 25%;
    }
    .col-sm-pull-2 {
        right: 16.66666667%;
    }
    .col-sm-pull-1 {
        right: 8.33333333%;
    }
    .col-sm-pull-0 {
        right: auto;
    }
    .col-sm-push-12 {
        left: 100%;
    }
    .col-sm-push-11 {
        left: 91.66666667%;
    }
    .col-sm-push-10 {
        left: 83.33333333%;
    }
    .col-sm-push-9 {
        left: 75%;
    }
    .col-sm-push-8 {
        left: 66.66666667%;
    }
    .col-sm-push-7 {
        left: 58.33333333%;
    }
    .col-sm-push-6 {
        left: 50%;
    }
    .col-sm-push-5 {
        left: 41.66666667%;
    }
    .col-sm-push-4 {
        left: 33.33333333%;
    }
    .col-sm-push-3 {
        left: 25%;
    }
    .col-sm-push-2 {
        left: 16.66666667%;
    }
    .col-sm-push-1 {
        left: 8.33333333%;
    }
    .col-sm-push-0 {
        left: auto;
    }
    .col-sm-offset-12 {
        margin-left: 100%;
    }
    .col-sm-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-sm-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-sm-offset-9 {
        margin-left: 75%;
    }
    .col-sm-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-sm-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-sm-offset-6 {
        margin-left: 50%;
    }
    .col-sm-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-sm-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-sm-offset-3 {
        margin-left: 25%;
    }
    .col-sm-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-sm-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-sm-offset-0 {
        margin-left: 0%;
    }
}
@media (min-width: 992px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }
    .col-md-12 {
        width: 100%;
    }
    .col-md-11 {
        width: 91.66666667%;
    }
    .col-md-10 {
        width: 83.33333333%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-8 {
        width: 66.66666667%;
    }
    .col-md-7 {
        width: 58.33333333%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-5 {
        width: 41.66666667%;
    }
    .col-md-4 {
        width: 33.33333333%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-2 {
        width: 16.66666667%;
    }
    .col-md-1 {
        width: 8.33333333%;
    }
    .col-md-pull-12 {
        right: 100%;
    }
    .col-md-pull-11 {
        right: 91.66666667%;
    }
    .col-md-pull-10 {
        right: 83.33333333%;
    }
    .col-md-pull-9 {
        right: 75%;
    }
    .col-md-pull-8 {
        right: 66.66666667%;
    }
    .col-md-pull-7 {
        right: 58.33333333%;
    }
    .col-md-pull-6 {
        right: 50%;
    }
    .col-md-pull-5 {
        right: 41.66666667%;
    }
    .col-md-pull-4 {
        right: 33.33333333%;
    }
    .col-md-pull-3 {
        right: 25%;
    }
    .col-md-pull-2 {
        right: 16.66666667%;
    }
    .col-md-pull-1 {
        right: 8.33333333%;
    }
    .col-md-pull-0 {
        right: auto;
    }
    .col-md-push-12 {
        left: 100%;
    }
    .col-md-push-11 {
        left: 91.66666667%;
    }
    .col-md-push-10 {
        left: 83.33333333%;
    }
    .col-md-push-9 {
        left: 75%;
    }
    .col-md-push-8 {
        left: 66.66666667%;
    }
    .col-md-push-7 {
        left: 58.33333333%;
    }
    .col-md-push-6 {
        left: 50%;
    }
    .col-md-push-5 {
        left: 41.66666667%;
    }
    .col-md-push-4 {
        left: 33.33333333%;
    }
    .col-md-push-3 {
        left: 25%;
    }
    .col-md-push-2 {
        left: 16.66666667%;
    }
    .col-md-push-1 {
        left: 8.33333333%;
    }
    .col-md-push-0 {
        left: auto;
    }
    .col-md-offset-12 {
        margin-left: 100%;
    }
    .col-md-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-md-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-md-offset-9 {
        margin-left: 75%;
    }
    .col-md-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-md-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-md-offset-6 {
        margin-left: 50%;
    }
    .col-md-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-md-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-md-offset-3 {
        margin-left: 25%;
    }
    .col-md-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-md-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-md-offset-0 {
        margin-left: 0%;
    }
}
@media (min-width: 1200px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
    }
    .col-lg-12 {
        width: 100%;
    }
    .col-lg-11 {
        width: 91.66666667%;
    }
    .col-lg-10 {
        width: 83.33333333%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-8 {
        width: 66.66666667%;
    }
    .col-lg-7 {
        width: 58.33333333%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-5 {
        width: 41.66666667%;
    }
    .col-lg-4 {
        width: 33.33333333%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-2 {
        width: 16.66666667%;
    }
    .col-lg-1 {
        width: 8.33333333%;
    }
    .col-lg-pull-12 {
        right: 100%;
    }
    .col-lg-pull-11 {
        right: 91.66666667%;
    }
    .col-lg-pull-10 {
        right: 83.33333333%;
    }
    .col-lg-pull-9 {
        right: 75%;
    }
    .col-lg-pull-8 {
        right: 66.66666667%;
    }
    .col-lg-pull-7 {
        right: 58.33333333%;
    }
    .col-lg-pull-6 {
        right: 50%;
    }
    .col-lg-pull-5 {
        right: 41.66666667%;
    }
    .col-lg-pull-4 {
        right: 33.33333333%;
    }
    .col-lg-pull-3 {
        right: 25%;
    }
    .col-lg-pull-2 {
        right: 16.66666667%;
    }
    .col-lg-pull-1 {
        right: 8.33333333%;
    }
    .col-lg-pull-0 {
        right: auto;
    }
    .col-lg-push-12 {
        left: 100%;
    }
    .col-lg-push-11 {
        left: 91.66666667%;
    }
    .col-lg-push-10 {
        left: 83.33333333%;
    }
    .col-lg-push-9 {
        left: 75%;
    }
    .col-lg-push-8 {
        left: 66.66666667%;
    }
    .col-lg-push-7 {
        left: 58.33333333%;
    }
    .col-lg-push-6 {
        left: 50%;
    }
    .col-lg-push-5 {
        left: 41.66666667%;
    }
    .col-lg-push-4 {
        left: 33.33333333%;
    }
    .col-lg-push-3 {
        left: 25%;
    }
    .col-lg-push-2 {
        left: 16.66666667%;
    }
    .col-lg-push-1 {
        left: 8.33333333%;
    }
    .col-lg-push-0 {
        left: auto;
    }
    .col-lg-offset-12 {
        margin-left: 100%;
    }
    .col-lg-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-lg-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-lg-offset-9 {
        margin-left: 75%;
    }
    .col-lg-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-lg-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-lg-offset-6 {
        margin-left: 50%;
    }
    .col-lg-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-lg-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-lg-offset-3 {
        margin-left: 25%;
    }
    .col-lg-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-lg-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-lg-offset-0 {
        margin-left: 0%;
    }
}
.list-group {
    padding-left: 0;
    margin-bottom: 20px;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
}
.list-group-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.list-group-item.disabled,
.list-group-item.disabled:hover,
.list-group-item.disabled:focus {
    color: #777777;
    cursor: not-allowed;
    background-color: #eeeeee;
}
.list-group-item.disabled .list-group-item-heading,
.list-group-item.disabled:hover .list-group-item-heading,
.list-group-item.disabled:focus .list-group-item-heading {
    color: inherit;
}
.list-group-item.disabled .list-group-item-text,
.list-group-item.disabled:hover .list-group-item-text,
.list-group-item.disabled:focus .list-group-item-text {
    color: #777777;
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    z-index: 2;
    color: #ffffff;
    background-color: #337ab7;
    border-color: #337ab7;
}
.list-group-item.active .list-group-item-heading,
.list-group-item.active:hover .list-group-item-heading,
.list-group-item.active:focus .list-group-item-heading,
.list-group-item.active .list-group-item-heading > small,
.list-group-item.active:hover .list-group-item-heading > small,
.list-group-item.active:focus .list-group-item-heading > small,
.list-group-item.active .list-group-item-heading > .small,
.list-group-item.active:hover .list-group-item-heading > .small,
.list-group-item.active:focus .list-group-item-heading > .small {
    color: inherit;
}
.list-group-item.active .list-group-item-text,
.list-group-item.active:hover .list-group-item-text,
.list-group-item.active:focus .list-group-item-text {
    color: #c7ddef;
}
a.list-group-item,
button.list-group-item {
    color: #555555;
}
a.list-group-item .list-group-item-heading,
button.list-group-item .list-group-item-heading {
    color: #333333;
}
a.list-group-item:hover,
button.list-group-item:hover,
a.list-group-item:focus,
button.list-group-item:focus {
    color: #555555;
    text-decoration: none;
    background-color: #f5f5f5;
}
button.list-group-item {
    width: 100%;
    text-align: left;
}
.list-group-item-success {
    color: #3c763d;
    background-color: #dff0d8;
}
a.list-group-item-success,
button.list-group-item-success {
    color: #3c763d;
}
a.list-group-item-success .list-group-item-heading,
button.list-group-item-success .list-group-item-heading {
    color: inherit;
}
a.list-group-item-success:hover,
button.list-group-item-success:hover,
a.list-group-item-success:focus,
button.list-group-item-success:focus {
    color: #3c763d;
    background-color: #d0e9c6;
}
a.list-group-item-success.active,
button.list-group-item-success.active,
a.list-group-item-success.active:hover,
button.list-group-item-success.active:hover,
a.list-group-item-success.active:focus,
button.list-group-item-success.active:focus {
    color: #fff;
    background-color: #3c763d;
    border-color: #3c763d;
}
.list-group-item-info {
    color: #31708f;
    background-color: #d9edf7;
}
a.list-group-item-info,
button.list-group-item-info {
    color: #31708f;
}
a.list-group-item-info .list-group-item-heading,
button.list-group-item-info .list-group-item-heading {
    color: inherit;
}
a.list-group-item-info:hover,
button.list-group-item-info:hover,
a.list-group-item-info:focus,
button.list-group-item-info:focus {
    color: #31708f;
    background-color: #c4e3f3;
}
a.list-group-item-info.active,
button.list-group-item-info.active,
a.list-group-item-info.active:hover,
button.list-group-item-info.active:hover,
a.list-group-item-info.active:focus,
button.list-group-item-info.active:focus {
    color: #fff;
    background-color: #31708f;
    border-color: #31708f;
}
.list-group-item-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
}
a.list-group-item-warning,
button.list-group-item-warning {
    color: #8a6d3b;
}
a.list-group-item-warning .list-group-item-heading,
button.list-group-item-warning .list-group-item-heading {
    color: inherit;
}
a.list-group-item-warning:hover,
button.list-group-item-warning:hover,
a.list-group-item-warning:focus,
button.list-group-item-warning:focus {
    color: #8a6d3b;
    background-color: #faf2cc;
}
a.list-group-item-warning.active,
button.list-group-item-warning.active,
a.list-group-item-warning.active:hover,
button.list-group-item-warning.active:hover,
a.list-group-item-warning.active:focus,
button.list-group-item-warning.active:focus {
    color: #fff;
    background-color: #8a6d3b;
    border-color: #8a6d3b;
}
.list-group-item-danger {
    color: #a94442;
    background-color: #f2dede;
}
a.list-group-item-danger,
button.list-group-item-danger {
    color: #a94442;
}
a.list-group-item-danger .list-group-item-heading,
button.list-group-item-danger .list-group-item-heading {
    color: inherit;
}
a.list-group-item-danger:hover,
button.list-group-item-danger:hover,
a.list-group-item-danger:focus,
button.list-group-item-danger:focus {
    color: #a94442;
    background-color: #ebcccc;
}
a.list-group-item-danger.active,
button.list-group-item-danger.active,
a.list-group-item-danger.active:hover,
button.list-group-item-danger.active:hover,
a.list-group-item-danger.active:focus,
button.list-group-item-danger.active:focus {
    color: #fff;
    background-color: #a94442;
    border-color: #a94442;
}
.list-group-item-heading {
    margin-top: 0;
    margin-bottom: 5px;
}
.list-group-item-text {
    margin-bottom: 0;
    line-height: 1.3;
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
    display: table;
    content: " ";
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
    clear: both;
}
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.pull-right {
    float: right !important;
}
.pull-left {
    float: left !important;
}
.hide {
    display: none !important;
}
.show {
    display: block !important;
}
.invisible {
    visibility: hidden;
}
.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
.hidden {
    display: none !important;
}
.affix {
    position: fixed;
}
@media all and (max-width: 500px){
    .lg-menu ul li{
        padding-left: 0;
        margin-right: 10px;
    }
    .col-sm-6 .footer-widget {
        padding: .5em 0 1em;
    }
    .col-sm-12 .footer-widget {
        padding: 1.5em 0 0;
    }
    .copyright img{
        display: block;
        margin-bottom: 10px !important;
    }
    .main-navigation > ul {
        border-color: #fff;
        display: block;
        border-top: 1px solid #eeeeee57 !important;
        padding: 0;
        margin: 0;
    }
    .main-navigation > ul li{
        display: none;
    }
    .toggled-on.main-navigation > ul li{
        display: block;
    }

    .toggled-on.main-navigation > ul #menu-item-30254{
        /* display: none !important; */
    }
    .main-navigation > ul #menu-item-30254{
        display: block !important;
        position: absolute;
        right: 45px;
        top: -36px;
        border: 0;
        outline: 0;
    }
    html .header-top {
        top: 0 !important;
    }
    html .site-header {
        top: 40px !important;
    }

}